.(id='{$_id}', class='{_ui}ui{/} {$class} {_class}feed{/}', style='{$style}', {$attributes}='')
  | {rows}
  | {row}
  .event
    .label
      i.icon(class='{icon}comment{/}')
    .content
      .summary
        .user {$user}
        |                 {$action}
        .date {$ts}
      .meta
        | {$descr}
      .extra.text
        | {changes}
        | {change}
        // option 1 - show as segment with field name in header and labels inside
        //
          <div class="ui segment">
          <div class="ui label top attached">{$field}</div>
          <a class="ui right pointing red basic label">{$old_value}</a>
          <a class="ui green basic label">{$new_value}</a>
          </div>
        // option 2 - show as simple labels, no block
        div
          a.ui.black.basic.label {$field}
          a.ui.right.pointing.red.basic.label {$old_value}
          a.ui.green.basic.label {$new_value}
        // option 3 - show as steps
        //
          <div class="ui small steps" style="margin:0;">
          <div class="step">
          <div class="content">
          <div class="description">{$field}</div>
          </div>
          </div>
          <div class="active disabled step">
          <div class="content">
          <div class="description">{$old_value}</div>
          </div>
          </div>
          <div class="step">
          <div class="content">
          <div class="description">{$new_value}</div>
          </div>
          </div>
          </div>
        | {/}
        | {/}
      //
        Here we can add Undo button for example
        {Buttons}<div class="meta">{button}<a class="ui mini button">Undo</a>{/}</div>{/}
  |     {/row}
  |     {empty}
  .item
    .content
      .description No records
  |     {/empty}
  | {/rows}
